$cell-padding: .55rem .8rem;
$picture-size: 2rem;

.table {
  width: 100%;
  border-spacing: 0;

  @media screen and (min-width: 600px) {
    @include themed () {
      border: 1px solid t(border-color);
      overflow: hidden;
    }
  }

  :deep(thead) > tr {
    display: none;

    @media screen and (min-width: 600px) {
      height: 3rem;
      display: table-row;
      font-size: 8.5pt;
      text-transform: uppercase;
      text-align: left;

      @include themed() {
        background: t(background-color-alt);
      }
    }

    &>th {
      padding: $cell-padding;
      font-weight: 500;
    }
  }

  :deep(tbody) > tr {
    height: 3rem;

    @include themed() {
      &:hover {
        background: t(background-color-alt);
      }
    }

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      gap: .6rem;
      height: auto;

      @include themed() {
        background: t(background-color);
        &:not(:last-child) {
          border-bottom: 1px solid t(border-color);
        }
      }
    }

    &>td {
      padding: $cell-padding;
      font-size: 10pt;

      @media screen and (max-width: 600px) {
        padding: 0;
      }
    }
  }

  &__cell-grid {
    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__cell-mobile-label {
    display: none;
    font-weight: bold;
    text-transform: lowercase;

    @media screen and (max-width: 600px) {
      display: inherit;
    }

    &:after {
      content: ': ';
      margin-right: .4rem;
    }
  }

  &__cell-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: .8rem;
    margin-left: auto;

  }

  &__picture {
    height: $picture-size;
    width: $picture-size;
    border-radius: 10px;
    overflow: hidden;

    @include themed() {
      border: 1px solid t(border-color);
    }
  }

  &__empty {
    display: grid;
    place-items: center;
    padding: 1.6rem 0;
  }
}
