@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
    opacity: 0;
  }
}

.button {
  --border-color: var(--button-border-color, var(--theme-border-color));
  position: relative;

  text-align: center;
  border-radius: var(--theme-radius-medium);
  outline: none;
  font-weight: 700;
  letter-spacing: .2pt;

  border: 1px solid transparent;
  color: var(--theme-foreground-color);

  &--loading:before {
    display: block;
    position: absolute;
    left: 0;
    content: ' ';
    background: #000;
    opacity: .4;
    height: 100%;
    width: 2rem;

    animation: progress 1s forwards;
  }

  &--transparent,
  &--alt {
    font-weight: 300;
    &:hover {
      background: var(--theme-background-color-shade-4);
    }
  }

  &--alt,
  &--primary {
    :deep(svg) {
      fill: currentcolor;
    }
  }

  &--alt {
    border: 1px solid var(--theme-border-color);
  }

  &--primary {
    color: var(--theme-brand-color-contrast);
    background: var(--theme-brand-color-shade-2);
    border-color: var(--theme-brand-color-shade-2);
  }

  &--small {
    padding: .6rem;
    font-size: 9pt;
  }

  &--medium {
    padding: var(--theme-input-padding);
    height: var(--theme-input-height);
    font-size: 10pt;
  }

  &--large {
    padding: var(--theme-input-padding-large);
    height: var(--theme-input-height-large);
    font-size: 11pt;
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
  }
}
