.container {
  background: var(--theme-background-color-alt);
  border-radius: var(--theme-large-radius);
  overflow: hidden;

  &__content {
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: height 1s ease;
  }

  &__footer {
    padding: .8rem;
    font-size: .75rem;
    color: #555;
  }
}
