// @keyframes slide {
//   from {
//     max-height: 0;
//   }

//   to {
//     max-height: 10rem;
//   }
// }

.container {
  border-radius: 8px;
  overflow: hidden;

  @include themed() {
    border: 1px solid t(border-color);
  }

  &__content {
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: scroll;
    // animation: slide .35s forwards;
    transition: height 1s ease;

    // &--selected {
    //   background: #e8f4f8;
    // }

    // &--results {
    //   animation: slide .35s forwards;
    // }
  }

  &__footer {
    padding: .8rem;
    font-size: .75rem;
    color: #555;
    
    @include themed() {
      background: t(background-color-alt);
    }
  }
}
