.container {
  background: var(--theme-background-color-shade-3);
  border-radius: var(--theme-radius-large);
  overflow: hidden;

  &__content {
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: height 1s ease;
  }

  &__footer {
    padding: .8rem;
    font-size: .8rem;
    color: var(--theme-foreground-color);
  }
}
