@keyframes blink {
  from { opacity: 1; }
  to { opacity: .4; }
}

.toast {
  padding: .4rem 2rem;
  user-select: none;

  display: grid;
  place-items: center;
  border-radius: 5px;

  z-index: 70;
  animation: blink .35s forwards;
  animation-delay: 3s;
  animation-play-state: paused;

  @include themed() {
    color: t(foreground-color);
    background: t(background-color);
    border: 1px solid t(border-color);
  }

  &--animate {
    animation-play-state: running;
  }
}
