.prompt {
  max-width: 30rem;

  &__actions {
    display: grid;
    height: 4rem;
    width: 100%;

    background: var(--theme-background-color-shade-2);
  }

  &__action {
    display: grid;
    place-items: center;

    &:not(:last-child) {
      border-right: 1px solid var(--theme-border-color);
    }

    &--normal {
      color: var(--theme-blueish);
    }

    &--danger {
      color: var(--theme-redish);
    }

  }
}
