@import 'theming';

.w-border {
  @include themed() {
    border: 1px solid t(border-color);
  }
}

.w-surface {
  @include themed() {
    background: t(background-color);
    color: t(foreground-color);
  }
}

.w-surface-alt {
  @include themed() {
    background: t(background-color-alt);
    color: t(foreground-color);
  }
}

.w-body {
  @include themed() {
    background: t(body-background);
  }
}

.w-branded-text {
  @include themed() {
    color: t(brand-color);
  }
}
