@import 'polyfill';
@import 'utilities';

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  // font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-family: Poppins, sans-serif; */
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #555;
}

/* input, select { */
/*   width: 100% !important; */
/* } */

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@media print {
  .no-print {
    display: none !important;
  }
}

// @media only screen and (max-width: 600px) {
//   html {
//     overflow-y: auto;
//   }
// }
