.menu {
  padding: 0;
  border-radius: 10px;

  @include themed() {
    background: t(background-color-alt);
    border: 1px solid t(border-color);
  }

  @media screen and (min-width: 600px) {
    max-width: 50%;
  }

  &__entry {
    padding: 1.2rem;
    &:not(:last-child) {
      @include themed() {
        border-bottom: 1px solid t(border-color);
      }
    }
  }
}
