.options {
  display: grid;

  border-width: 1px 1px 1px 0;
  border-radius: 5px;

  @include themed() {
    border: 1px solid t(border-color);

    &__checkbox {
      padding: .8rem;
      border-left: 1px solid t(border-color);

      &:not(:last-child) {
        border-bottom: 1px solid t(border-color);
      }
    }
  }
}
