.content {
  &__section {
    &:not(:last-child) {
      @include themed() {
        border-bottom: 1px solid t(border-color);
      }
    }
  }

  &__item {
    display: flex;
    width: 100%;
    padding: 1.6rem !important;
    font-size: 1.1rem;
    font-weight: 400;

    @include themed() {
      color: t(foreground-color);

      &--reactive {
        &:hover {
          background: t(background-color-hover);
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid t(border-color);
      }
    }

    @media screen and (min-width: 600px) {
      padding: 1rem !important;
      font-size: 11pt;
    }
  }
}

.contextmenu {
  &__trigger {
    display: flex;
    justify-content: flex-start;
  }

}
