main.main--dark {
  --theme-input-padding: .8rem;
  --theme-brand-color: #003fb9;
  --theme-border-color: #666;
  --theme-button-background-color: #0284c7;
  --theme-button-background-color-alt: #ddddddaa;
  --theme-button-background-color-hover: #dddddd;
  --theme-button-border-color: transparent;
  --theme-foreground-color: #555;
  --theme-foreground-color-alt: #000;
  --theme-background-color: #50505b;
  --theme-background-color-alt: #50508b;
  --theme-background-color-contrast: #f5f5f5;
  --theme-background-color-hover: #dddddd;
  --theme-background-color-opaque: #ffffffbb;
  --theme-radius-medium: 4px;
  --theme-radius-large: 8px;
  --theme-body-background: #fff;
  --theme-shadow-color: #ccc;
  --theme-clickable-color: #5090fa;
}

