:root {
  --contrast-brand-color: #003fb9;
  --contrast-border-color: #222;
  --contrast-button-background-color: linear-gradient(45deg, darkblue, magenta);
  --contrast-button-border-color: transparent;
  --contrast-foreground-color: #000;
  --contrast-foreground-color-alt: #fff;
  --contrast-background-color: #fff;
  --contrast-background-color-alt: lighten(#555, 20%);
  --contrast-background-color-hover: lighten(#55f, 20%);
  --contrast-body-background: #444;
}
