:root {
  --dark-brand-color: skyblue;
  --dark-border-color: #666;
  --dark-button-background-color: #fff;
  --dark-button-background-color-alt: #333;
  --dark-button-background-color-hover: #444;
  --dark-button-border-color: #666;
  --dark-foreground-color: #eee;
  --dark-foreground-color-alt: #ddd;
  --dark-background-color: #50505b;
  --dark-background-color-alt: #50508b;
  --dark-background-color-hover: #5050cc;
  --dark-background-color-opaque: #50505bbb;
  --dark-body-background: #30303b;
  --dark-shadow-color: #222;
}
