:root {
  --default-input-padding: .8rem;
  --default-brand-color: #003fb9;
  --default-border-color: #e5e7eb;
  --default-button-background-color: #0284c7;
  --default-button-background-color-alt: #ddddddaa;
  --default-button-background-color-hover: #dddddd;
  --default-button-border-color: transparent;
  --default-foreground-color: #555;
  --default-foreground-color-alt: #000;
  --default-background-color: #fff;
  --default-background-color-alt: #f9f9f9;
  --default-background-color-hover: #dddddd;
  --default-background-color-opaque: #ffffffbb;
  --default-body-background: #f9f9f9;
  --default-shadow-color: #ccc;
}

.loading {
  div {
    border: 4px solid var(--default-brand-color) !important;
  }
}
