@keyframes blink {
  from { opacity: 1; }
  to { opacity: .4; }
}

.toast {
  width: 90vw;

  display: flex;
  gap: 1rem;
  padding: 1rem;
  user-select: none;

  border-radius: 5px;
  z-index: 70;
  animation: blink .5s forwards;
  animation-delay: 2s;
  animation-play-state: paused;

  color: var(--theme-foreground-color);
  background: var(--theme-background-color);
  border: 1px solid var(--theme-border-color);

  box-shadow: 0 3px 3px var(--theme-shadow-color);

  @media screen and (min-width: 768px) {
    width: 24rem;
  }

  &--animate {
    animation-play-state: running;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: .6rem;
  }

  &__time {
    font-size: 10pt;
    opacity: .8;
  }
}
