.crud {
  &__main {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  &__controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__search {
    flex: 1;
    order: 1;
    min-width: 90vw;

    @media screen and (min-width: 600px) {
      order: 0;
      min-width: auto;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: .4rem;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
