.crud {
  &__main {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;

    @media screen and (min-width: 600px) {
      gap: 1rem;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: .4rem;
    margin-left: auto;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem 1.8rem;
  }

  &__search {
    flex: 1;
  }

  &__controls-icons {
    display: flex;
    align-items: stretch;
    gap: .4rem;

    @media screen and (max-width: 600px) {
      border: 1px solid transparent;
      justify-content: space-between;
      flex: 1;
    }
  }
}
