.crud {
  &__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: .4rem;
  }

  &__controls {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: .8rem;

    @media screen and (min-width: 600px) {
      flex-direction: row;
      align-items: center;
    }
  }
}
