.container {
  background: var(--theme-background-color-shade-3);
  border: var(--theme-frame-border);
  border-radius: var(--theme-radius-medium);

  &__content {
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__footer {
    font-size: .8rem;
    color: var(--theme-foreground-color);
    padding: var(--theme-input-padding);
    height: var(--theme-input-height);

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
