.profile {
  &__menu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0;

    @include themed() {
      background: t(background-color-alt);
      border: 1px solid t(border-color);
      border-radius: 10px;
      overflow: hidden;

      &>* {
        &:not(:last-child) {
          border-bottom: 1px solid t(border-color);
        }

        padding: 1.4rem;
      }
    }
  }
}
