.tabs {
  &__horizontal {
    display: flex;
  }

  &__tab {
    display: flex;
    align-items: center;
    cursor: pointer;

    margin-top: 4px;
    padding: 0 .4rem;

    &--current {
      @include themed() {
        color: t(clickable-color);
        font-weight: 500;
      }
    }
  }

  &__context-menu-icon {
    @include themed() {
      color: t(clickable-color);
      fill: t(clickable-color);
    }

    &:first-child {
      gap: 0;
    }
  }
}
