.tabs {
  width: 100%;

  &__horizontal {
    display: flex;
    padding-bottom: 1rem;

    @include themed() {
      border-bottom: 1px solid t(border-color);
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    cursor: pointer;

    margin-top: 4px;
    padding: 0 .4rem;

    &--current {
      @include themed() {
        color: t(clickable-color);
        font-weight: 500;
      }
    }

    &--info {
      @media screen and (min-width: 600px) {
        font-size: 12pt;
        font-weight: 500;
        margin-right: .6rem;
      }
    }
  }

  &__context-menu-icon {
    @include themed() {
      color: t(clickable-color);
      fill: t(clickable-color);
    }

    &:first-child {
      gap: 0;
    }
  }
}
