* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #555;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media print {
  .no-print {
    display: none !important;
  }
}
