.theme-defaults() {
  --theme-input-padding: .8rem;
  --theme-input-height: 20px;
  --theme-input-padding-large: .9rem 2.4rem;
  --theme-radius-medium: 0;
  --theme-radius-large: 4px;
  --theme-radius-extra-large: 16px;
}
