.w-border {
  border: 1px solid var(--theme-border-color);
}

.w-surface {
  background: var(--theme-background-color);
  color: var(--theme-foreground-color);
}

.w-surface-alt {
  background: var(--theme-background-color-shade-2);
  color: var(--theme-foreground-color);
}

.w-body {
  background: var(--theme-body-background);
}

.w-branded-text {
  color: var(--theme-brand-color);
}

.w-redish {
  color: var(--theme-redish);
  fill: var(--theme-redish);
}

.w-blueish {
  color: var(--theme-blueish);
  fill: var(--theme-blueish);
}
