.item {
  display: flex;
  align-items: center;
  padding: .6rem;
  min-height: 2.8rem;

  color: var(--theme-foreground-color);

  &--selected {
    background: #e8f4f8;
  }

  &:not(&--selected) {
    opacity: .8;
  }

  &__values {
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
  }

  &__value {
    display: flex;
    font-size: 10pt;
  }

  &__value:not(:first-child) {
    font-size: 8pt;
  }
}
