name: Continuos Integration

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 19
          cache: npm
      - name: Install dependencies
        run: npm i
      - name: Build packages
        run: npm run build --workspaces
